.exercise {
    display: inline-block;
    width: 500px;
    height: 250px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: 2px solid #2e87cb;
    border-radius: 30px;
    background-color: #096BAB;
}

.exercise-info img {
    float: left;
    border: 2px solid rgba(169, 152, 198, 0.781);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.exercise-info h2{
    color: white;
    margin: 15px;
}

.exercise-info p{
    color: white;
    margin: 15px;
}

.btn-details{
    background-color: #050912;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-details:hover{
    background-color: #0e1831;
}



